
/* Stil general */
body {
  font-family: "Times New Roman", Times, serif;
  margin: 0;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  overflow-x: hidden;
  overflow-y: auto; /* sau scroll dacă vrei mereu bara vizibilă */
  background-color:rgb(207, 171, 72) ;
  }

a {
  color: inherit;
  }

.scris-nav:hover{
  color:rgb(248, 182, 0);
  }

  /* Secțiunea Hero */

.hero2 {
  height: 50vh; 
  width: 100%;
  background-image: url('./assets/back\(1\).jpg');
  display: block; 
  overflow-x: hidden;
  }

  .keyword{
    color: #8473ff;
  }

.hero1 {
  height: 10%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: #070505;
  text-align: center;
  max-width: 90%;
  margin: 20px auto;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  overflow-x: hidden;
  }

.btn {
  display: inline-block;
  margin-top: 30px;
  padding: 15px 30px;
  background-color:rgb(228, 130, 1);
  color: #fff;
  border-radius: 5px;
  font-size: 1em;
  transition: background-color 0.3s;
  }

.btn2{
  border-radius: 10px;
}

.btn:hover {
    background-color: #2e2b2b;
    text-decoration: none;
  }

  /* Secțiunea despre noi */
.about {
  padding: 60px 20px;
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  }

.about div {
  flex: 1;
  min-width: 300px;
  margin: 20px;
  }

.about h2 {
  margin-bottom: 20px;
  }

  /* Servicii */
.services {
  background-color:rgb(207, 171, 72);
  padding: 50px 50px;
  overflow-x: hidden;
  }

.services h2 {
  text-align: center;
  margin-bottom: 40px;
  }

.services img {
  height: 50vh;
  width: 50vh;
  }

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  }

.card {
  background: #fff;
  padding: 20px;
  width: 450px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  transition: transform 0.3s;
  }

.card:hover {
  transform: translateY(-5px);
  }

.card img {
  width: 100%;
  border-radius: 8px;
  }

.card .btn{
  display: block;
  margin: 0 auto; 
  margin-top:0px;
  }

  /* carusel */
.carousel-item img {
  max-height: 600px;
  width: 100%;
  object-fit: contain;
}

  /* Testimoniale */
.testimonials {
  background-color:rgb(207, 171, 72);
  padding: 60px 20px;
  
  }

.testimonials h2 {
  text-align: center;
  margin-bottom: 40px;
  }

.testimonial {
  max-width: 600px;
  margin: 20px auto;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  background-color:rgb(207, 171, 72);
  }

.testimonial p {
  font-style: italic;
  }

  /* Contact */
.contact-info {
  max-width: 40vw;
  margin: 20px auto;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  padding: 60px 20px;
  }

#contact h2 {
  align-items: center;
  justify-content: center;
  max-width: 600px;
  margin: 20px auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  }
  
  /* Footer */
footer {
  background-color: #222;
  color: #ccc;
  padding: 30px 20px;
  text-align: center;
  }
  .firma{
    color:rgb(248, 182, 0);
  }

footer a {
  color: #fff;
  margin: 0 10px;
  }

footer a:hover {
  color: rgb(248, 182, 0);
  margin: 0 10px;
  text-decoration: none;
  }

footer li:hover {
  color: rgb(248, 182, 0);
  text-decoration: none;
  }

  /* Responsive adjustments */
  @media(max-width: 1025px){
    body{
      padding: 0;
      margin: 0;
    }
    header {
      flex-direction: column;
    }

    .hero{
      height: 90vh;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      color: #fff;
      text-align: center;
      padding: 0 20px;
      padding-top: 40px;
      overflow-x: hidden;
    }

    .hero2 {
      height: 70vh; 
      width: 100%;
      background-image: url('./assets/back\(1\).jpg');
      display: block; 
      }

    .about {
      flex-direction: column;
    }

    .services {
      padding: 30px 10px;
    }

    .cards {
      flex-direction: column;
      align-items: center;
    }
  }
  @media(max-width: 1024px){
    .hero2 {
      height: 50vh; 
      width: 100%;
      background-image: url('./assets/smallic.png');
      display: block; 
      }
    }

  @media(max-width: 912px){
    .hero2 {
      height: 50vh; 
      width: 100%;
      background-image: url('./assets/smallic.png');
      display: block; 
      }
    }

  @media(max-width: 853px){
    .hero2 {
      height: 50vh; 
      width: 100%;
      background-image: url('./assets/smallic.png');
      display: block; 
      }
    }

    @media(max-width: 375px){
    body{
      padding: 0;
      margin: 0;
    }
    header {
      flex-direction: column;
    }

    .hero{
      height: 90vh;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      color: #fff;
      text-align: center;
      padding: 0 20px;
      padding-top: 40px;
      overflow-x: hidden;
    }

    .hero2 {
      height: 50vh; 
      width: 100%;
      background-image: url('./assets/smallic.png');
      display: block; 
      background-repeat: no-repeat;
      background-size: cover;
      }

    .about {
      flex-direction: column;
    }

    .services {
      padding: 30px 10px;
    }
    .cards {
      display: flex;
      flex-wrap: wrap; 
      justify-content: center; 
      gap: 16px; 
      padding: 10px; 
    }

    .card {
      background: #fff;
      padding: 2px;
      max-width: 300px; 
      width: 100%; 
      border-radius: 8px;
      box-shadow: 0 2px 8px rgba(0,0,0,0.1);
      transition: transform 0.3s;
      box-sizing: border-box; 
    }

    .card:hover {
      transform: translateY(-5px);
    }

    .card img {
      width: 100%;
      height: auto; 
      border-radius: 8px;
    }

    .card .btn {
      display: block;
      margin: 0 auto;
      margin-top: 10px; 
    }
    }

    @media(max-width: 344px){
    body{
      padding: 0;
      margin: 0;
    }
    header {
      flex-direction: column;
    }

    .hero{
      height: 90vh;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      color: #fff;
      text-align: center;
      padding: 0 20px;
      padding-top: 40px;
      overflow-x: hidden;
    }

    .hero2 {
      height: 50vh; 
      width: 100%;
      background-image: url('./assets/smallic.png');
      display: block; 
      }

    .about {
      flex-direction: column;
    }

    .services {
      padding: 30px 10px;
    }
    .cards {
      display: flex;
      flex-wrap: wrap; 
      justify-content: center; 
      gap: 16px; 
      padding: 10px; 
    }

    .card {
      background: #fff;
      padding: 2px;
      max-width: 300px; 
      width: 100%; 
      border-radius: 8px;
      box-shadow: 0 2px 8px rgba(0,0,0,0.1);
      transition: transform 0.3s;
      box-sizing: border-box; 
    }

    .card:hover {
      transform: translateY(-5px);
    }

    .card img {
      width: 100%;
      height: auto; 
      border-radius: 8px;
    }

    .card .btn {
      display: block;
      margin: 0 auto;
      margin-top: 10px; 
    }
    }
    
    @media(max-width: 414px){
    .hero2 {
      height: 50vh; 
      width: 100%;
      background-image: url('./assets/smallic.png');
      display: block; 
      }
    }

    .fade-in-text {
    font-family: Arial, sans-serif;
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
      }

    @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
    }

    @-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
    }

    @-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
    }

    @-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
    }

    @-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
    }
  



